@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero{
    width: 100%;
    height: 100vh;
    padding: 40px;
    background: url(../../img/new.jpg) center center no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 100PX;
    z-index: 1;
}

.hero::after{
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: #000;
    position: absolute;
    opacity: .5;
    z-index: -1;
}

.nav-section{
    text-align: center;
    ul{
        color: #fff;
        list-style: none;
        li{
            display: inline-block;
            margin: 10px 25px;
            font-family: "Montserrat" ,sans-serif;
            text-transform: uppercase;
            font-size: 1.1rem;
        }  
    }
}

.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.hero-h1{
    color: #fff;
    font-family: "Montserrat" ,sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
    h1{
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: .5rem;
        margin: 5px;
    }
}

.hero-btn{
    color: #fff;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-family: "Montserrat" ,sans-serif;
    :hover{
        background: coral;
    }
}

/*main section*/

.all-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.featured-soft{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .feature-item{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: auto;
        margin-bottom: 50px;
        .feature-img{
            width: 50%;
            
            img{
                width: 600px;
                height: 700px;
            }
        }
        .feature-info{
            font-family: "Montserrat" ,sans-serif;
            width: 50%;
            margin: auto;
            h1{
                color: #555;
                margin: 5px;
                font-size: 2.4rem;
                font-weight: 400;
            }

            h2{
                color: #555;
                margin: 5px;
                margin-top: 30px;
                font-size: 2rem;
                font-weight: 400;
            }
            p{
                color: #555;
                margin: 5px;
                margin-top: 40px;
            }

            button{
                margin: 5px;
                margin-top: 30px;
                padding: 10px 20px;
                background: #000;
                color: #fff;
                border-radius: 10px;
                text-transform: uppercase;
                font-size: 1.2rem;
                letter-spacing: .4rem;
            }
        }
    }
}

.sec-h1{
    width: 100%;
    text-align: center;
    color: #555;
    margin-bottom: 100px;
    h1{
        font-family: "Montserrat" ,sans-serif;
        font-size: 3rem;
        font-weight: 400;
        text-transform: capitalize;
    }
}

.more-opt{
    width: 90%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    .more-offer{
        width: 400px;
        height: 600px;
        background: rgb(230, 222, 222);
        border-radius: 10px;
        cursor: pointer;
        .offer-img{
            width: 400px;
            height: 350px;
            img{
                width: 400px;
                height: 350px;
                border-radius: 10px 10px 0px 0px;
            }
        }

        .offer-info{
            padding: 10px;
            color: #555;
            font-family: "Montserrat" ,sans-serif;
            h1{
                font-size: 1.5rem;
                font-weight: 400;
                margin-bottom: 5px;
            }
            p{
                font-size: 1.2rem;
                font-weight: 400;

            }
        }
    }
}

.event-sec{
  width: 95%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 100px;
     .event-opt{
      width: 300px;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: rgb(230, 222, 222);
      border-radius: 10px;
      margin: auto;
      cursor: pointer;
     }
      .event-img{
          width: 100%;
          height: 350px;
         

          img{
              height: 100%;
              width: 300px;
              border-radius: 10px 10px 0px 0px;
          }
      }
    .event-info{
        padding: 5px;
        font-family: "Montserrat" ,sans-serif;
        height: 50px;
        
        h1{
            letter-spacing: .05rem;
            font-weight: 400;
            font-size: 1rem;
        }
    }
     
}


#footer-container{
    background: #ffffff;
    padding-top: 0px;
}

.footer-section{
    width: 100%;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgb(230, 222, 222);;
 

}

.footer-contacts, .footer-extras, .footer-info{
    width: 400px;
    padding: 20px;
    margin: auto;

    h1{
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: #444;
        margin-bottom: 15px;
        text-transform: capitalize;
    }

    ul{
        list-style: none;
      li{
          font-family: "Montserrat", sans-serif;
          text-transform: capitalize;
          line-height: 1.5rem;
          transition: .3s ease;
          :hover{
              color: #000;
          }
          a{
              text-decoration: none;
              color: #444;
              font-size: .9rem;
          }
      }
    }
    
}


